<section class="tickets">
    <div class="container">
        <img src="../../assets/images/tickets2.jpg" alt="" class="abslute">
        <h1 class="Head">Time & Location</h1>
        <h4 class="subHead">Jun 04, 2023, 10:00 AM – Jun 14, 2023, 8:00 PM <br>
            500 Terry A Francois Blvd, San Francisco, CA 94158, USA</h4>
            <div class="input">
                <input type="text" placeholder="Full Name" class="mx-5 input1" id="fullname">
                <input type="email" name="" id="email" placeholder="Your Email" class="mx-5 input2">
            </div>
            <table class="text-center">
                <tr>
                  <th> <h4>Tickets</h4></th>
                  <th> <h4> Price</h4></th>
                  <th><h4>Quantity</h4></th>
                </tr>
                <tr> 
                    <td> <h6>Standard Ticket</h6></td>
                    <td><h6>$15</h6></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td><h6>3 Years Old Free Ticket</h6></td>
                    <td><h6>$0</h6></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td><h6>Senior Ticket (60+ years old)</h6></td>
                    <td><h6>$10</h6></td>
                    <td><input type="text"></td>
                </tr>
        </table>
        <a routerLink="/" class="btn">Check Out</a>
       
    </div>
</section>


