<!--NavBar Section-->
<section class="NavBar ">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container navbg py-2">
      <a class="navbar-brand px-2" routerLink=""> <img src="../assets/images/ferris-wheels (1).png" alt=""> HI Funfair</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
         
          <li class="nav-item">
            <a class="nav-link" aria-current="page"  routerLink="/tickets">Tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#activities">Activities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          </ul>
      </div>
    </div>
  </nav>
  <div class="content">
    <h1 class="Head py-2">HI Funfair</h1>
    <h3 class="subHead py-2">Fun for all the family members</h3>
    <a class="btn B1 my-3" routerLink="/tickets">Buy Tickets</a>
  </div>
  </section>
  
  <router-outlet></router-outlet>

<!--Footer Section-->
<footer class="footer">
  <div class="row pt-3">
      <div class="col col-lg-4 col-md-6 col-sm-12 py-2 vertic">
          <div class=" text-center py-2">
              Designed by <a class="text-dark" href="mailto:hassantariq1141998@gmail.com">HTHAM</a> & <a class="text-dark" href="mailto:20184885@fue.edu.eg">Abe</a> &copy; 2021 <br>All rights are reserved.
             </div>
      </div>
      <div class=" col-lg-4 col-md-6 col-sm-12 text-center">
          <h4 class="" id="contact">Contact Us</h4>
          <hr class="newhr mx-auto">
          <div class="form my-2">
            <input type="text" placeholder="Full Name" class="input mx-2">
            <input type="email" name="" id="" placeholder="Email" class="input mx-2">
            <textarea name="" id="" cols="60%" rows="2%" placeholder="Your Message" class="input"></textarea>
          </div>
          <a class="btn btn-dark my-3" href="#">Send</a>
      </div>

      <div class=" col-lg-4 col-md-6 col-sm-12 text-center vertic">
         <h4 class="">Follow Us</h4>
          <hr class="newhr mx-auto">
         <div class="mx-auto"> 
          <i class="fab fa-twitter mx-1 hov"></i>
          <i class="fab fa-facebook-f mx-1 hov"></i>
          <i class="fab fa-instagram mx-1 hov"></i>
          <i class="fab fa-youtube mx-1 hov"></i>
          <i class="fab fa-linkedin mx-1 hov"></i>
      </div>
      </div>
  </div>
</footer>