<div class="container">
    <h3 class="text-light text-center py-5">Get In Touch</h3>
    <div class="row mx-auto">
        <div class="col col-lg-6 col-md-12 col-sm-12 card">
            <h4 class="text-light bott">Get In Touch</h4>
            <form action="">
                <div class="mb-3">
                    <input type="text" placeholder="Your Name" class="bg">
                </div>
                <div class="mb-3">
                    <input type="email" placeholder="Your E-mail" class="bg">
                </div>
                <div class="mb-3">
                   <input type="text" placeholder="Your Phone" class="bg">
                </div>
                <div class="mb-3">
                    <textarea name="" id="" cols="80%" rows="10%" placeholder="Your Message" class="bg"></textarea>
                 </div>
                 <button class="btn btn-outline-info ">Send</button>
            </form>
        </div>
        <div class="col col-lg-6 col-md-12 col-sm-12 card">
            <h4 class="text-light bott">My Contact Details</h4>
            <h5 class="edit my-2">EMAIL</h5>
            <h6 class="text-light">hassantariq1141998@gmail.com</h6>
            <h5 class="edit my-2">PHONE</h5>
            <h6 class="text-light">+201152075459</h6>
            <h5 class="edit my-2">ADDRESS</h5>
            <h6 class="text-light">San Francisco, CA <br> 4th Floor8 Lower <br>San Francisco street, M1 50F</h6>
        </div>
</div>
</div>
